@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

/*공통 */
* {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
  box-sizing: border-box;
}
html {
  font-size: 40px;
  min-height: 100vh;
}
body {
  margin: 0;
  background-image: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcN72A9%2FbtqTfC1b0DJ%2F31mjCRfHrXaKn4pMy1xK4k%2Fimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.done {
  text-decoration: line-through;
}

header {
  height: 10vw;
  position: relative;
}

header::after {
  clear: left;
  content: "";
  display: block;
}

header .visible::after {
  clear: left;
  content: "";
  display: block;
}
header .visible {
  margin: 10px 0 0 20px;
}

.dday-open,
.dtitle {
  float: left;
}

.dtitle {
  font-weight: bolder;
  font-size: 0.6rem;
  padding-top: 8px;
}

.dday-open {
  background-color: transparent;
}

header #resultdday {
  font-size: 2rem;
  position: absolute;
  bottom: 10px;
  left: 45%;
  font-weight: 500;
}

#todo-list li {
  margin-bottom: 10px;
}

#clock {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  font-weight: 500;
}
#greeting {
  margin-top: 1px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

button {
  border: none;
  border-radius: 50%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 1rem;
}

.xi-check {
  margin: 0 10px 0 20px;
}

#todo-form input {
  margin: 50px 0 30px 0;
  width: calc(100% / 3);
  height: 80px;
  font-size: 1rem;
}

#todo-form input,
#dday-form input {
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  text-align: center;
}
#todo-form input::placeholder,
#dday-form input::placeholder {
  color: white;
}

#todo-form input:focus,
#dday-form input:focus {
  outline: none;
}

#dday-form:after {
  display: block;
  content: "";
  clear: left;
}

#dday-form input {
  margin-left: 10px;
  float: left;
  font-size: 0.5rem;
  width: calc(100% / 5);
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-top: 10px;
}

#dday-form {
  width: 20%;
  margin-left: 20px;
}

#todo-form {
  position: relative;
}

#todo-form span {
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translate(-50%);
}

form input[type="submit"] {
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

dd input[type] {
  color: black;
}

/* 회원가입 */
